*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins medium', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
    
}

#header{
        width: 100%;
        height: 100vh;
        background-image: url(images/background.png);
        background-size: cover;
        background-position: center;
}

.container{
            padding: 16px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #0084f8;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 10%;
    font-size: 28px;
}
.header-text span{
    color: #ffffff80;
}

.header-text h1{
    font-size: 60px;
    font-weight: 600;
    margin-top: 16px;
}

.header-text h2{
    font-size: 60px;
    margin-top: -20px;
    font-weight: 500;
}

.header-text h1 span{
    color: #0084f8;
}
/* ------------about------------ */
#about{
    padding: 96px 0;
    color: #ffffff80;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 32%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 24px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 560;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 72px 0 64px;
}
.tab-links{
    margin-right: 64px;
    font-size: 32px;
    color: #fff;
    font-weight: 200;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0084f8;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 40px 0 ;
    font-size: 20px;
    color: #fff;
} 
.tab-contents ul li span{
    color: #0084f8;
    font-size: 24px;
    font-weight: 400;
} 
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ------------services------------ */

#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 48px;
    font-size: 16px;
    font-weight: 150;
    border-radius: 12px;
    transition: background 0.5s, transform 0.5s;
}

.services-list i{
    font-size: 32px;
    margin-right: 14px;
}

.services-list div h2 {
    font-size: 32px; 
    font-weight: 500; 
    margin-bottom: 20px;
    margin-top: 12px;
}

.services-list a {
    text-decoration: none;
    color:#ffffff9e;
    font-size: 16px;
    font-weight: 20;
    margin-top: 24px;
    display: inline-block;
}

.services-list div:hover{
    background: #0084f8;
    transform: translateY(-10px);
}

/* ------------portfolio------------ */

#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px; 
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), #0084f8);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
} 

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #0084f8;
    text-decoration: none;
    font-size: 26px;
    line-height: 60px;
    background:#fff;
    width: 60px; height: 60px;
    border-radius: 50%;
    text-align: center;
} 

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto; 
    width: fit-content;
    border: 2px solid #0084f8;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
} 
.btn:hover{
    background: #0084f8;
}

/* ------------Contact------------ */
.contact-left{
    flex-basis: 120%;
}

.contact-left p:hover{
    color: #fff;
}

.contact-left p{
    margin-top: 14px;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 50;
    color: #ffffff80;
    transition: color 0.3s;
}

.contact-left p i{
    color: #ffffff80;
    margin-right: 14px;
    margin-left: 2px;
    font-size: 18px;
    transition: color 0.3s;
}

.contactvia a{
    margin-top: 12px;
    font-size: 18px;
    font-weight: 50;
    text-decoration: none;
    color: #ffffff80;
    transition: color 0.3s;
}

.contactvia a:hover{
    color: #fff;
}

.contactvia a i{
    color: #ffffff80;
    margin-right: 12px;
    font-size: 22px;
    transition: color 0.3s;
}
.social-icons{
    margin-top: 290px;
}
.social-icons a{
    text-decoration: none;
    font-size: 28px;
    margin-right: 32px;
    color: #fff;
    display: inline-block;
    transition: transform 0.3s;
}
.social-icons a:hover{
    color: #0084f8;
    transform: translateY(-5px);
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 24px 0;
    background: #161616;
    font-weight: 300;
    margin-top: 20px;
}

/* ------------Css for mobile screens------------ */

nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    
    #header{
        background-image: url(images/phone-background.png);
    }

    .header-text{
        margin-top: 8%;
        font-size: 14px;
    }

    .header-text h1{
        font-size: 28px;
    }

    .header-text h2{
        font-size: 28px;
        margin-top: -10px;
    }

    nav .fas{
        display: block;
        font-size: 20px;
    }

    nav ul{
        background: #000000d7;
        position: fixed;
        top: 0;
        right: 0;
        width: 160px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li a{
        font-size: 14px;
    }

     nav ul li{
        display: block;
        margin: 25px;
    }
    
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 28px;
    }

    #about{
        padding: 50px 0;
        margin-bottom: -30px;
    }

    .about-col-1 , .about-col-2{
        flex-basis: 0%;
    }

    .about-col-1{
        margin-bottom: 16px;
    }

    .about-col-2{
        font-size: 12px;
        font-weight: 100;
    }
   
    .tab-titles{
       margin: 24px 0 ;
       margin-bottom: -8px;

    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .tab-contents ul li{
        font-size: 12px;
        
    }
    .tab-contents ul li span {
        font-size: 16px;
    }

    .logo{
    width: 80px;
    }

    .contact-left p{
    margin-top: 14px;
    margin-bottom: 12px;
    font-size: 12px;
    color: #fff;
}

.contact-left p i{
    margin-right: 8px;
    margin-left: 2px;
    font-size: 14px;
    color: #fff;
}

.contactvia a{
    margin-top: 12px;
    font-size: 14px;
    color: #fff;
}

.contactvia a i{
    color: #fff;
    margin-right: 8px;
    font-size: 16px;
    transition: color 0.3s;
}
.social-icons{
    margin-top: 320px;
}
.social-icons a{
    font-size: 16px;
    margin-right: 12px;
    color: #fff;
}
.social-icons a:hover{
    color: #0084f8;
    transform: translateY(-5px);
}


#services{
    padding: 0px 0;
}

.services-list{
    margin-top: 40px;
}


.services-list div{
    padding: 24px ;
    font-size: 14px;
}

.services-list i{
    font-size: 28px;
    margin-right: 8px;
}

.services-list div h2 {
    font-size: 28px; 
    font-weight: 500; 
    margin-bottom: 24px;
    margin-top: 12px;
}

.services-list a{
    color: #ffffff9e;
    font-size: 14px;
    font-weight: 10;
}


}

